* {
	overflow-y: hidden;
	overflow-x: hidden;
}

img {
	float:left;
}

a {
	color:#333;
}

a:hover {
	color:#333;
}

.timedate:before{
	font-size:x-small;
}

.navbar:last-child {
	margin-bottom:0px;
}

.panel-body {
	padding: 0px;
}

.text {
	padding: 15px;
	margin:0;
	margin-bottom:-4px;
}

.fa-refresh {
	font-size:smaller;
	padding:1px;	
}